@import '~office-ui-fabric-react/dist/sass/References.scss';


.helloWorld{
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
 
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: #1F1F1F;
    padding: 20px;
  }
 
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
    width: 30%;
  }
 
  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }
 
  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
 
  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
 
  .button {
    // Our button
    text-decoration: none;
    height: 32px;
 
    // Primary Button
    min-width: 80px;
    background-color: #F22BB0;
    border-color: #F22BB0;
    color: $ms-color-white;
    border-radius: 17px;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
 
  .itemField {
    display: flex;
    padding: 5px;
    .fieldLabel {
      min-width: 100px;
    }
  }
 
  
  .buttonSection{
    padding-top: 20px;
    display: flex;
  }
  
}
.fieldLabelinput{
  background-color: #282828;
  border-radius: 4px;
  border: 2px solid #282828;
  color: #ffff;
}
.fieldLabelinput:hover{
  border: 2px solid #3f3f3f;
  background-color: #282828;
  border-radius: 4px;
  color: #ffff;
}
.fieldLabelinput:focus, .fieldLabelinput:active, :focus-visible{
  border: 2px solid #F22BB0 !important;
  background-color: #282828;
  border-radius: 4px;
  color: #ffff;
  outline: none;
}
